<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.aljan.telpo_flutter_sdk">

    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />
</manifest>
